* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #39297b;
    color: #fff;
}
h1 {
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 600;
    font-size: 2rem; /* Adjust font size for scalability */
}
form {
    width: 90%;
    max-width: 600px;
    height: 80px;
    background: #434989;
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 8px; /* Add border radius for better aesthetics */
}
#search-box {
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: #fff;
    font-size: 18px;
    padding: 0 20px;
    border-radius: 10px;
}
form button {
    padding: 0 20px;
    height: 100%;
    background: #ff3929;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}
::placeholder {
    color: #fff;
    font-size: 16px;
}
#show-more-btn {
    background: #ff3929;
    color: white;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 20px auto;
    cursor: pointer;
    display: none;
    text-align: center;
}
#search-result {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}
#search-result img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
        margin: 50px auto;
    }
    form {
        height: auto;
        flex-direction: column;
        padding: 10px;
    }
    #search-box {
        font-size: 16px;
        padding: 10px;
        margin-bottom: 10px;
    }
    form button {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
    }
    #search-result {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 10px;
    }
    #search-result img {
        height: 180px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
        margin: 30px auto;
    }
    form {
        height: auto;
    }
    #search-box {
        font-size: 14px;
        padding: 8px;
    }
    form button {
        padding: 8px;
    }
    #search-result img {
        height: 150px;
    }
    #show-more-btn {
        font-size: 14px;
        padding: 8px 15px;
    }
}